<div class="container">
    <app-searh-form (keyup)="search($event)"></app-searh-form>
  <table class="table">

    <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userFilter; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(user.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<a routerLink="/create">Create</a>
<router-outlet></router-outlet>
